name: CI/CD Pipeline Load Testing with k6, ESLint, Jest, and SonarQube

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  # 1. Job untuk ESLint
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install dependencies
        run: npm install
      - name: Run ESLint
        run: npm run lint

  # 2. Job untuk Unit Test (Jest)
  unit-test:
    name: Unit Test
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install dependencies
        run: npm install
      - name: Run Tests with Coverage
        run: npm run test
      - uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/

  # 3. Job untuk SonarQube Scan
  sonarqube-scan:
    name: SonarQube Scan
    runs-on: ubuntu-latest
    needs: unit-test
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup  Node.js for Sonarqube
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install dependencies
        run: npm install

      - name: SonarQube Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          args: >
            -Dsonar.projectKey=hihendi_load-test-devops
            -Dsonar.organization=hihendi
            -Dsonar.projectName=load-test-devops
            -Dsonar.branch.name=main
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}


  # 4. Job untuk k6 Smoke Test
  k6-smoke-test:
    name: k6 Smoke Test
    runs-on: ubuntu-latest
    needs: sonarqube-scan
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm install
      - name: Install K6 Apt
        run: |
          sudo apt-get update
          sudo apt-get install -y gnupg software-properties-common curl
          curl -s https://dl.k6.io/key.gpg | sudo apt-key add -
          echo "deb https://dl.k6.io/deb stable main" | sudo tee /etc/apt/sources.list.d/k6.list
          sudo apt-get update
          sudo apt-get install -y k6

      - name: Start Application (Background)
        run: npm start &

      - name: Wait for App to start
        run: sleep 5

      - name: Run k6 Smoke Test
        env:
          BASE_URL: http://localhost:3000
        run: npm run k6

      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: k6-report
          path: k6/
